neo4j-home
*~
\#*
target
out
largeCSV
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
.cache
.cache-main
.cache-tests
*.iws
*.ipr
*.iml
.idea
.DS_Store
.shell_history
.mailmap
.java-version
.cache-main
.cache-tests
Thumbs.db
.cache-main
.cache-tests
logs
testlogs
testoutput
neo4j-graph-data-science-2.23.0.jar
.env
plugins
conf
output
plots
